.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
button {
  /*background: purple;
      margin-bottom: 25;
      width: 50%;
      height: 100px;
      box-shadow: black;*/
      margin: 10px 10px;
      display:inline-block;
      padding: 8px;
      position: relative;
      width: auto;
      height: auto;
      border: 1px solid rg(180, 162, 162);
      border-radius: 15px;
      background-color: #ddd;
      color: black;
      font-size: 17px;
      text-transform: uppercase;
      align-items: center;
      align-content: center;
   
  }

  .card {
    width: auto;
    height: auto;
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25px;
  }

  li {
    display: inline;
  }



  button:hover {
      cursor: pointer;
      color: white;
      background-color: #222121be;
  }

  .main-div{
    width: 40%;
    height: 50vh;
    margin: 20px 450px;
    margin-right: 150px;
    margin-top: 150px;
    padding: 20px 5px 5px;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: #8a1212a9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

    p1{

      font-size: 28px;
      color: whitesmoke;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      flex-direction: column;
      font-weight: lighter;
      text-align: center;
      align-content: center;
  
  
    }